.title-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: black;
  border-radius: 10px;
}

.input-label {
  font-weight: bold;
}

.input-box {
  width: 200px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.input-button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 30px;
  color: white;
  border-radius: 10px;
  background-color: #017175;
}

.todo-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.todo-card {
  width: 330px;
  height: 180px;
  padding: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-contents {
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.todo-button {
  outline: none;
  cursor: pointer;
  padding: 8px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.todo-button-red {
  background-color: red;
  color: #fff;
}

.todo-button-green {
  background-color: green;
  color: #fff;
}
